@media (max-width: 90em) {
  /* .video-article {
    width: 240px;
  } */
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 86em) {
  /* .video-container {
    grid-template-columns: 1fr 1fr 1fr;
  } */
  .video-article {
    width: 23em;
  }

  .channel-article {
    width: 23em;
  }

  .clicked-video-container {
    max-width: 120em;
  }

  .video-and-comments {
    width: 90em;
  }
}

@media (max-width: 74em) {
  .video-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .video-article {
    width: 26em;
  }

  .channel-article {
    width: 26em;
  }

  .clicked-video-container {
    max-width: 105em;
  }

  .video-and-comments {
    width: 78em;
  }
}

@media (max-width: 63em) {
  .menu-icon {
    display: block;
  }

  .categories-cont {
    display: none;
  }

  .clicked-video-container {
    max-width: 100em;
  }

  .video-and-comments {
    width: 100%;
  }

  .suggested-display {
    display: none;
  }

  html {
    font-size: 50%;
  }
}

@media (max-width: 52em) {
  .video-article {
    width: 23em;
  }

  .channel-article {
    width: 23em;
  }

  .menu-icon {
    display: block;
    left: -15px;
  }
}

@media (max-width: 46em) {
  .video-container {
    grid-template-columns: 1fr 1fr;
  }
  .video-article {
    width: 26em;
  }

  .channel-article {
    width: 26em;
  }

  .menu-icon {
    display: block;
    left: -20px;
  }

  .search-input {
    width: 70%;
  }
}

@media (max-width: 36em) {
  .video-container {
    grid-template-columns: 1fr;
  }

  .video-article {
    width: 100%;
  }

  .channel-article {
    width: 100%;
  }

  .menu-icon {
    display: block;
    left: -25px;
  }

  .search-input {
    width: 70%;
  }
}
